<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>11.Servletjsp</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
 <!-- 다이나믹 모듈버전 3.0 전  예전버전 서블릿 설정 코드 -->
  <servlet>
  	<servlet-name>MyServlet</servlet-name>
  	<servlet-class>app01.httpServlet.MyServlet</servlet-class>
  	<init-param>
  		<param-name>admin</param-name>
  		<param-value>Lim</param-value>
  	</init-param>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>MyServlet</servlet-name>
  	<url-pattern>/test</url-pattern>
  </servlet-mapping>
  
<!--   <error-page>
  	<error-code>500</error-code>
  	<location>/05-errorHandler.jsp</location>
  </error-page>
  
    <error-page>
  	<error-code>404</error-code>
  	<location>/05-errorHandler.jsp</location>
  </error-page>
  
  <error-page>
  	<exception-type>java.lang.NumberFormatException</exception-type>
  	<location>/05-errorHandler.jsp</location>
  </error-page> -->
  
  
  
</web-app>